body {
  margin: 0em;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

element.style {
  text-align: right;
}

.banner {
  background-image: url(./assets/ba1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

*,
::after,
::before {
  box-sizing: border-box;
}
div {
  display: block;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#textarea {
  font-size: x-large;
}
